@import "./_variables.scss";

.feature__post__area {
    position: relative;
    .container__feature {
        padding-top: 130px;
        padding-bottom: 60px;
        margin-left: 13%;
        margin-right: 13%;
    }
    .img__position {
        overflow: hidden;
        min-height: 465px;
        position: relative;
        background-position: 50% 50%;
        transform:scale(1);
        border-radius: 4px;
        transition: 0.5s;
        &:hover {
            transform:scale(1.1);
        }
        
    }
    .right__content {
        max-width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        transform:scale(1);
        border-radius: 4px;
        transition: 0.5s;
        &:hover {
            transform:scale(1.1);
        }
        
    }
    .right__content::before {
        content: '';
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background:linear-gradient(to bottom,  rgba(255,255,255,0) 10%, rgba(0, 0, 0, 0.9) 100%);
      }
    .right__img__size {
        display: block;
        width: 100%;
    }
    .right__content__top {
        font-family: $font__family__poppins;
        padding: 30px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        display: block;
        & .post__badge {
            text-decoration: none;
            font-weight: 700;
            color: $color__white;
            border: none;
            font-size: 10px;
            border-radius: 4px;
            text-transform: uppercase;
            background: linear-gradient(to right,  #FE4F70, #FFA387, #FFA387,  #FE4F70);
            overflow: hidden;
            background-size: 200%;
            background-position: left;
            line-height: 20px;
            padding: 5px 5px;
            transition: 0.35s;
            cursor: pointer;
            &:hover {
                background-position: right;
            }
        }
        & .post__title {
            font-size: 20px;
            line-height: 26px;
            text-decoration: none;
            color: $color__white;
            font-weight: 700;
        }
        & .post__author, .post__date, .post__view {
            line-height: 20px;
            text-decoration: none;
            background: rgba(255, 255, 255, 0.3);
            padding: 4px 6px;
            border-radius: 4px;
            color: $color__white;
            border: 0;
            margin-right: 5px;
            transition: 0.35s;
            &:hover{
                background-color: $background__color__red;
            }
            & a {
                text-decoration: none;
                color: $color__white;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }

    .right__content__bottom {
        font-family: $font__family__poppins;
        padding: 10px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        display: block;
        & h2 {
            line-height: 20px;
        }
        & .post__badge {
            text-decoration: none;
            font-weight: 700;
            color: $color__white;
            border: none;
            font-size: 10px;
            border-radius: 4px;
            text-transform: uppercase;
            background: linear-gradient(to right,  #FE4F70, #FFA387, #FFA387,  #FE4F70);
            overflow: hidden;
            background-size: 200%;
            background-position: left;
            line-height: 10px;
            padding: 5px 5px;
            transition: 0.35s;
            cursor: pointer;
            &:hover {
                background-position: right;
            }
        }
        & .post__title {
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            color: $color__white;
            font-weight: 700;
        }
        & .post__author, .post__date, .post__view {
            line-height: 10px;
            text-decoration: none;
            background: rgba(255, 255, 255, 0.3);
            padding: 4px 6px;
            border-radius: 4px;
            color: $color__white;
            border: 0;
            margin-right: 5px;
            transition: 0.35s;
            &:hover{
                background-color: $background__color__red;
            }
            & a {
                text-decoration: none;
                color: $color__white;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
    .post__content {
        font-family: $font__family__poppins;
        padding: 30px;
        z-index: 1;
        position: absolute;
        bottom: 0;
        display: block;
        & .post__badge {
            text-decoration: none;
            font-weight: 700;
            color: $color__white;
            border: none;
            font-size: 10px;
            border-radius: 4px;
            text-transform: uppercase;
            background: linear-gradient(to right,  #FE4F70, #FFA387, #FFA387,  #FE4F70);
            overflow: hidden;
            background-size: 200%;
            background-position: left;
            line-height: 30px;
            padding: 5px 5px;
            transition: 0.35s;
            cursor: pointer;
            &:hover {
                background-position: right;
            }
        }
        & .post__title {
            font-size: 26px;
            line-height: 32px;
            text-decoration: none;
            color: $color__white;
            font-weight: 700;
        }
        & .post__author, .post__date, .post__view {
            line-height: 30px;
            text-decoration: none;
            background: rgba(255, 255, 255, 0.3);
            padding: 4px 6px;
            border-radius: 4px;
            color: $color__white;
            border: 0;
            margin-right: 5px;
            transition: 0.35s;
            &:hover{
                background-color: $background__color__red;
            }
            & a {
                text-decoration: none;
                color: $color__white;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
}