$color__dark__gray: rgb(112, 112, 112);
$color__blue: #79889e;
$font__family__poppins: "Poppins", sans-serif;
$background__color__white: white;
$background__color__orange: #ff7a09;
$color__orange: #ff7a09;
$color__white: white;
$color__light__gray: rgb(201, 201, 201);
$background__color__red: #f73357;
$color__red: #f73357;
$color__black: #3d3d3d;
$color__blue8e5: #1e88e5;
$background__color__blue: #1e88e5;
$background__color__black: #262626;
$color-white: #ffffff;
$color-light: #f4f4f4;
$color-blue-gray: #9194a1;
$color-blue-dark: #252b46;
$color-red-light: #fa5757;


