$color__dark__gray: rgb(97, 97, 97);
$color__blue: #79889e;
$font__family__poppins: "Poppins", sans-serif;
$background__color__white: white;
$background__color__orange: #ff7a09;
$color__orange: #ff7a09;
$color__white: white;
$color__light__gray: rgb(201, 201, 201);
$background__color__red: #f73357;
$color__red: #f73357;
$color__black: #3d3d3d;
$color__blue8e5: #1e88e5;
$color__dark__blue: #4258fe;
$background__dark__blue: #4258fe;
$color__light__green: #00bdb3;
$background__light__green: #00bdb3;
$color__purple: #9401d3;
$background__color__purple: #9401d3;
$background__color__blue: #1e88e5;
$background__color__black: #262626;
$background__color__light: #f9f9f9;
$color-white: #ffffff;
$color-light: #f4f4f4;
$color-blue-gray: #9194a1;
$color-blue-dark: #252b46;
$color-red-light: #fa5757;





