$color__dark__gray: rgb(112, 112, 112);
$color__blue: #79889e;
$font__family__poppins: "Poppins", sans-serif;
$background__color__white: white;
$color__white: white;
$background__color__red: #f73357;
$color__red: #f73357;
$outline__color__gray: rgba(255, 255, 255, .5);
$outline__color__black: rgba(255, 255, 255, 0);

